<div class="container__bloco">
    <form action="/cadastrar" class="container__bloco" method="post">
        <label for="user">Usuário: </label>
        <input type="text" name="usuario" id="user" placeholder="Digite o usuário" required>

        <label for="user">Senha: </label>
        <input type="password" name="senha" id="senha" placeholder="Digite a senha" required>

        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
    <a href="/"><button>Voltar</button></a>
</div>