<div class="container__titulo">
    <h1 class="titulo-pagina">SEGURANÇA SENHAS</h1>
    <a href="/novaSenha" id="button">Adicionar Nova Senha</a>
</div>

<div class="container__bloco">
    {{#each senhas}}
        <div class="bloco">
            <p>ID: {{this.usuario}}</p>
            <p>Senha: {{this.senha}}</p>
            <p>Senha: {{this.nota}}</p>

            <form action="/excluir/{{this.id_senha}}" method="POST">
                <button class="botaoExcluir" type="submit">Excluir</button>
            </form>
        </div>
    {{/each}}
</div>

{{#if senhas.length}}
    <form action="/excluir-tudo" method="POST" >
        <div class="container__bloco">
            <button class="excluirTudo" type="submit">Excluir Todas as Senhas</button>
        </div>
    </form>
{{/if}}

