<div class="container__titulo">
    <h1 class="titulo-pagina">SEGURANÇA SENHAS</h1>
    <a href="/novaSenha" id="button">Adicionar Nova Senha</a>
</div>


<div class="container__bloco">
    <button class="excluirTudo">
        Excluir tudo
    </button>
</div>
