<form action="/login" method="post">
    <div class="container__bloco">
        <label for="user">Usuário: </label>
        <input type="text" name="usuario" id="user" placeholder="Digite o usuário" required>

        <label for="user">Senha: </label>
        <input type="text" name="senha" id="senha" placeholder="Digite a senha" required>

        <div>
            <input type="submit" value="Login">
        </div>
    </div>
</form>